@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.underline:hover {
    text-decoration: underline;
}
.grid-3-col {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: 10% 90%;
    height: 100vh;
}
.grid-3-col :first-child {
    grid-column-start: 1;
    grid-column-end: -1;
}
.middle {
    overflow-y: scroll;
    border-right: 0.1px solid #777;
    border-left: 0.1px solid #777;
}
.insidehome {
    position: relative;
    height: 100%;
}
.insidehome .addpost {
    position: sticky;
    bottom: 40px;
    left: 100%;
    margin-right: 40px;
    z-index: 4;
    cursor: pointer;
    background-color: coral;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid coral;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
/* .insidehome .addpost::before {
    content: "+";
    height: 40px;
    width: 40px;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-family: courier;
    color: #fff;
} */
/* .new{
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 40px;
  background-color: rgba(0, 0, 0, 0.214);
} */
/* Hide scrollbar for Chrome, Safari and Opera */
.middle::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.middle {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@media only screen and (max-width: 700px) {
    .grid-3-col {
        display: block;
        /* height: 100vh; */
    }

    .insidehome .addpost {
        position: fixed;
        bottom: 40px;
        left: 75%;
    }
}
