.newblog-main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 50px;
}
.newblog-main form {
    width: 100%;
    padding: 10px;
}
.newblog-main input {
    display: block;
    width: 90%;
    padding: 10px;
    font-size: 20px;
    margin: 10px auto;
    border: 0px solid #777;
    outline: none;
    /* border-radius: 5px; */
}
.newblog-main textarea {
    resize: none;
    display: block;
    width: 90%;
    padding: 10px;
    font-size: 20px;
    margin: 10px auto;
    border: 0px solid #777;
    outline: none;
    /* border-radius: 5px; */
    font-family: inherit;
}
.newblog-main button {
    display: block;
    text-align: right;
    font-size: 20px;
    float: right;
    margin-right: 12px;
    padding: 6px 14px;
    border: 1px solid #777;
    /* border-radius: 4px; */
    cursor: pointer;
}
.newblog-main .back {
    font-size: 40px;
    padding-top: -5px;
    position: absolute;
    top: 8px;
    left: 8px;
    border: 0px;
    cursor: pointer;
}

.newblog-main .postt {
    background-color: coral;
    color: #fff;
    border-radius: 20px;
    padding: 6px 24px;
}
