.mprofile-main {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    overflow: scroll;
}
.mmm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mprofile-img {
    width: 80px;
    height: 80px;
    border: 3px solid #000;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    margin-bottom: 20px;
}
.mfol {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 10px;
    font-size: 14px;
}
.mprofile-main .mlogout {
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 10px 30px;
    border: 0;
    cursor: pointer;
}
.mprofile-name {
    text-align: center;
    margin: 0;
    padding: 4px;
}
.mprofile-email {
    padding: 6px;
    font-size: 14px;
    color: #bbb;
    margin-bottom: 15px;
}
.mfolNum {
    background-color: #b8b5b575;
    padding: 4px;
    border-radius: 4px;
    font-size: 16px;
    color: inherit;
}
.link-fix {
    color: inherit;
}
