.profile-main{
    padding-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.profile-img{
    width: 80px;
    height: 80px;
    border: 3px solid #000;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    left: 10px;
}
.fol{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    color: #bbb;
    gap: 10px;
    font-size: 14px;
}
.profile-main button{
    position: absolute;
    bottom: 20px;
    padding: 10px 30px;
    border: 0;
    cursor: pointer;
}
.profile-name{
    text-align: center;
    margin: 0;
    padding: 4px;
}
.profile-email{
    padding: 6px;
    font-size: 14px;
    color: #bbb;
    margin-bottom: 15px;
}
.folNum{
    background-color: #b8b5b575;
    color: #333;
    padding: 4px;
    border-radius: 4px;
    font-size: 16px;
}