.user-main {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* border-bottom: 1px solid #ccc; */
}
.user-main span {
    font-size: 1.1rem;
    font-weight: 500;
    width: 75%;
}
.user-main .follow-btn {
    padding: 6px 20px;
    background-color: transparent;
    border: 1px solid coral;
    color: coral;
    font-size: 14px;
    font-weight: 400;
    border-radius: 16px;
    letter-spacing: 1px;
    margin: 0;
    cursor: pointer;
}
.user-main .follow-btn2 {
    background-color: coral;
    color: #fff;
}
.user-main button:hover {
    background-color: coral;
    color: #fff;
}
.inherit {
    color: inherit;
}
